<a href="https://colab.research.google.com/github/Law101/predicting_energy_efficiency/blob/master/Machine_Learning_Regression_Predicting_Energy_Efficiency_of_Buildings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning: Regression - Predicting Energy Efficiency of Buildings
Name: Lawrence Okegbemi

### Load Neccessary Libraries

In [1]:
import numpy as np              # For numerical python computation
import pandas as pd             # For handling tabular dataset
import matplotlib.pyplot as plt # Plotting and Visualization
import seaborn as sns           # Plotting and Visualization

from sklearn.preprocessing import  MinMaxScaler
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Import the Dataset

In [2]:
# Get the Data from URL
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv"
dataset = pd.read_csv(url)

### Exploratory Data Analysis

In [3]:
# Shape of the dataset with ROWS X COLUMNS Respectively
dataset.shape

(19735, 29)

In [4]:
# Information about the Columns in the dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
#Descriptions about the Data
dataset.describe(include="all")

                       date    Appliances  ...           rv1           rv2
count                 19735  19735.000000  ...  19735.000000  19735.000000
unique                19735           NaN  ...           NaN           NaN
top     2016-01-17 19:40:00           NaN  ...           NaN           NaN
freq                      1           NaN  ...           NaN           NaN
mean                    NaN     97.694958  ...     24.988033     24.988033
std                     NaN    102.524891  ...     14.496634     14.496634
min                     NaN     10.000000  ...      0.005322      0.005322
25%                     NaN     50.000000  ...     12.497889     12.497889
50%                     NaN     60.000000  ...     24.897653     24.897653
75%                     NaN    100.000000  ...     37.583769     37.583769
max                     NaN   1080.000000  ...     49.996530     49.996530

[11 rows x 29 columns]

In [6]:
#Dropping `date` and `light` columns
dataset.drop(['date','lights'],axis=1,inplace=True)

#Feature Scalling using MinMax
scaler = MinMaxScaler()
train_scaled = scaler.fit_transform(dataset)
train_feat = pd.DataFrame(train_scaled, columns=dataset.columns)

In [7]:
#X and y
X1 = train_feat[['T2']]
y1 = train_feat['T6']

In [8]:
#Model Training
lr = LinearRegression()
lr.fit(X1,y1)
#Print Model Score
print(f'Model R2_Score: {round(lr.score(X1,y1),2)}')

Model R2_Score: 0.64

In [9]:
#Select Train and test features
X = train_feat.drop('Appliances', axis=1)
y = train_feat['Appliances']

In [10]:
#Splitting Dataset into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(f'Shape of Training Set is {X_train.shape}')
print(f'Shape of Testing Set is {X_test.shape}')

Shape of Training Set is (13814, 26)
Shape of Testing Set is (5921, 26)

In [11]:
#Model Training
lr.fit(X_train,y_train)

#Predicting for Test set
y_pred = lr.predict(X_test)

In [12]:
# Errors
R2 = r2_score(y_test,y_pred)
MAE = mean_absolute_error(y_test, y_pred)
RSS = np.sum(np.square(y_test - y_pred))
RMSE = np.sqrt(mean_squared_error(y_test,y_pred))

print(f'Testing ---- Mean Absolute Error MAE {round(MAE,2)}')
print(f'Testing ---- Root Mean Squarred Error RMSE {round(RMSE,3)}')
print(f'Testing ---- R-Squarred {round(R2,2)}')
print(f'Testing ---- Residual Sum of Squares {round(RSS,2)}')

Testing ---- Mean Absolute Error MAE 0.05
Testing ---- Root Mean Squarred Error RMSE 0.088
Testing ---- R-Squarred 0.15
Testing ---- Residual Sum of Squares 45.35

In [13]:
#finding min and max of coefficients
coef_order = pd.DataFrame(zip(X.columns, lr.coef_),
            columns=['features','coefficients']).sort_values('coefficients')

In [14]:
coef_order

       features  coefficients
3          RH_2     -0.456698
18        T_out     -0.321860
2            T2     -0.236178
16           T9     -0.189941
15         RH_8     -0.157595
20       RH_out     -0.077671
13         RH_7     -0.044614
17         RH_9     -0.039800
8            T5     -0.015657
0            T1     -0.003281
24          rv1      0.000770
25          rv2      0.000770
19  Press_mm_hg      0.006839
12           T7      0.010319
22   Visibility      0.012307
9          RH_5      0.016006
7          RH_4      0.026386
6            T4      0.028981
21    Windspeed      0.029183
11         RH_6      0.038049
5          RH_3      0.096048
14           T8      0.101995
23    Tdewpoint      0.117758
10           T6      0.236425
4            T3      0.290627
1          RH_1      0.553547

In [15]:
#Ridge (L2)
rg = Ridge(alpha=0.4)
rg.fit(X_train,y_train)
y_pred_rg = rg.predict(X_test)

#Ridge RMSE
Ridge_RMSE = np.sqrt(mean_squared_error(y_test,y_pred_rg))
print(f'Ridge_RMSE {round(Ridge_RMSE,3)}')

Ridge_RMSE 0.088

In [16]:
#LASSO (L1)
ls = Lasso(alpha=0.001)
ls.fit(X_train,y_train)
y_pred_ls = ls.predict(X_test)

In [19]:
#getting the coefficients
len(ls.coef_[ls.coef_ !=0])

4

In [20]:
#calculating for the RMSE
LASSO_RMSE = np.sqrt(mean_squared_error(y_test,y_pred_ls))
print(f'LASSO RMSE {round(LASSO_RMSE,3)}')

LASSO RMSE 0.094